/* Navbar */
#navbar-main-elements .nav-link:hover {
    color: #348fc3 !important;
}

#navbar-main-elements .active-nav-link {
    color: #348fc3 !important;
    font-weight: bold;
}

.reference.internal.nav-link {
    font-size: 1.1em;
}
